{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}

{% block content %}
<div class="py-5">
    {% for post in posts %}
    <div class="jumbotron text-center hoverable p-4">
        <div class="row">
            <div class="col-md-4 offset-md-1 mx-3 my-3">
                <div class="view overlay">
                    <img src="{% static 'images/placeholder.jpg' %}" class="img-fluid"
                        alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>

            <div class="col-md-7 text-md-left ml-3 mt-3">

                <h4 class="h4 mb-4">{{ post.title }}</h4>

                <p class="font-weight-normal"> {{ post.body|safe|truncatechars:70 }}&nbsp;...</p>
                <p class="font-weight-normal">by
                    <a><strong>{{ post.author.username }}</strong></a>,&nbsp;{{ post.created|date:'Y-m-d' }}</p>
                <a href="{{ post.get_url_path }}" class="btn btn-indigo btn-md">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}


    {% include "pagination.html" %}
</div>
{% endblock %}