[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
autopep8 = "*"
django-bootstrap4 = "*"
django-ckeditor = "*"
django-taggit = "*"
gunicorn = "*"
markdown = "*"
pillow = "*"
python-slugify = "*"
requests = "*"
django-jet = "*"

[requires]
python_version = "3.6"
