{% extends 'base.html' %}
{% load bing_tags %}

{% block content %}
<div class="jumbotron text-center">
    <h4 class="card-title font-bold pb-2"><strong>{{ wallpaper.title }}</strong></h4>
    <div class="view overlay my-4">
        <img id="img" src="{{ wallpaper.url|bingimage }}" class="img-fluid" alt="">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <h5 class="indigo-text font-bold mb-4">{{ wallpaper.copyrightonly }}</h5>
    <figcaption class="figure-caption text-center mb-4">{{ wallpaper.datetime|date:'Y-m-d' }}</figcaption>
    <p class="card-text text-left">
        @{{ wallpaper.desc }}
    </p>
    <a class="btn btn-default btn-sm" onclick="download_image(this);">
        <i class="fa fa-download pr-2" aria-hidden="true"></i> Download
    </a>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    function download_image(btn) {
        var a = document.getElementById("img");
        var src = a.getAttribute("src");

        var x = new XMLHttpRequest();
        x.open("GET", src, true);
        x.responseType = 'blob';
        x.onload = function (e) {
            var url = window.URL.createObjectURL(x.response)
            var a = document.createElement('a');
            a.href = url
            a.download = ''
            a.click()
        }
        x.send();
        return true;
    }
</script>
{% endblock %}